@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Poppins&family=Roboto&family=Inter:wght@300;400;700&display=swap');

* {
  overflow-x: hidden;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  width: 100%;
}

.main-nav .logo {
  left: 12px;
  top: 10px;
  padding: 10px 10px;
  overflow: hidden;
  margin-left: 8px;
}

.logo-hide {
  visibility: hidden;
}

.main-nav .logo p {
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  animation-name: loadlogo;
  animation-duration: 1s;
  top: 10px;
}

@keyframes loadlogo {
  0% {
    transform: rotate(360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

nav .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.menu .bar {
  width: 30px;
  height: 3px;
  margin: 6px 10px;
  background-color: white;
  cursor: pointer;
}

.open .dash1 {
  transform: rotate(-45deg)  translate(6px, 6px);
  position: fixed;
  top: 30px;
  right: 30px;
  margin-right: 2%;
}

.open .dash2 {
  opacity: 0;
}

.open .dash3 {
  transform: rotate(45deg)  translate(6px, -6px);
  position: fixed;
  top: 30px;
  right: 30px;
}

nav .nav-link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  position: fixed;
  top: 10%;
  left: 0;
}

nav .nav-link li {
  padding: 10px;
}

nav .nav-link li a {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff5e1;
}

.nav-link li a::after {
  content: "";
  display: block;
  width: 400px;
  border-bottom: 1px solid #f4f5f7;
  margin: 5px auto;
}

.cover-header {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #3c3a39;
}

.hide {
  visibility: hidden;
}

.hide-nav {
  opacity: 0;
}

.open .main-nav .logo {
  display: none;
}

.message-hiden {
  visibility: hidden;
}

#head-line-backgroud {
  background-image: url(../images/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% 100%;
}

.head-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 750px;
  left: 0;
  top: 92px;
  background: #1c1a19;
}

.my-description {
  margin-bottom: 0;
}

.head-line .my-description h1 {
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #a85400;
  overflow: hidden;
}

.head-line .profession {
  left: 24px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 24px;
  margin-right: 24px;
  top: 256px;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.my-description .description {
  width: 327px;
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.head-line ul {
  display: flex;
  flex-direction: row;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 5%;
}

.head-line ul li {
  margin-top: 0;
}

.head-line ul li a i {
  width: 50px;
  height: 30px;
  color: #cfcfcf;
}

.recent-work-container {
  display: grid;
  grid-template-columns: auto;
  margin-top: 120px;
  padding-left: 10px;
  padding-right: 24px;
  width: 100%;
}

.recent-work-title {
  left: 0;
  top: 120px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.recent-work-container .hr {
  border: 1px solid #212121;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 50px;
}

.post-container {
  display: flex;
  flex-direction: column;
}

.recent-img {
  margin-top: 80px;
  margin-left: 24px;
  margin-right: 24px;
}

.recent-img:hover {
  transform: scale(1.09);
}

.story-container-one {
  display: none;
}

.multi-post-title {
  margin-left: 24px;
  margin-right: 24px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  margin-top: 24px;
  margin-bottom: 12px;
}

.post-content {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #a85400;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}

.post-tools {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-left: 0;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.post-tools .technologies {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  padding: 10px;
  width: 56px;
  border: 1px solid #8993a4;
  margin-left: 0;
  color: #a85400;
}

.post-button {
  width: 124px;
  height: 48px;
  left: 0;
  top: 259px;
  background: #a85400;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: 0;
  margin-bottom: 24px;
  margin-left: 24px;
  transition: background 0.5s ease-out;
}

.post-button:hover {
  background: #b67445;
}

.story-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0.9) 61.94%), url(../images/story-img.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 84px 0 0 0;
  margin-left: 24px;
  margin-right: 24px;
}

.story-container h3 {
  width: 295px;
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 0;
}

.story-content {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin: 12px 16px;
  width: 295px;
  height: 87px;
  margin-bottom: 0;
  overflow: hidden;
}

.story-container ul {
  margin-top: 0;
  margin-left: 0;
  padding-left: 16px;
  padding-right: 16px;
}

.story-container ul li {
  display: inline-block;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  padding: 10px;
  color: #fff;
}

.story-btn {
  padding: 0;
  height: 48px;
  background: #a85400;
  border: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.03em;
}

.about-container {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 120px;
}

.about-me {
  background-image: url(../images/about-back.svg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 100% 100%;
}

.about-me h3 {
  font-family: 'Crete Round', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #a85400;
  margin-top: 120px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0;
  overflow: hidden;
}

.about-content {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.about-me .resume {
  width: 161px;
  height: 48px;
  background: #a85400;
  border: 0;
  margin-left: 24px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 0;
}

.about-me .hr {
  border: 1px solid #fff;
  margin-top: 209px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 0;
}

.framework-skill {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.languages {
  color: #fff;
  margin-left: 86px;
  margin-top: 0;
}

.languages h4 .icon {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
}

.languages h4 span::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #a85400;
  transform: rotate(45deg);
}

.languages h4 {
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.languages ul {
  margin-right: 130px;
  margin-left: 0;
  padding-top: 0;
  margin-bottom: 0;
}

.languages ul li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.frameworks {
  color: #fff;
  margin-left: 86px;
  margin-top: 0;
}

.frameworks h4 .icon {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
}

.frameworks h4 span::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: #a85400;
}

.frameworks h4 {
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.frameworks ul {
  margin-right: 130px;
  margin-left: 0;
  padding-top: 0;
}

.frameworks ul li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.skills {
  color: #fff;
  margin-left: 115px;
  margin-top: 0;
}

.skills h4 .icon {
  display: inline-block;
  position: relative;
  margin-left: 12px;
  margin-right: 12px;
}

.skills h4 span::before {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 11px;
  background: #a85400;
  border-radius: 150px;
}

.skills h4 {
  font-family: 'InaiMathi', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.skills ul {
  margin-right: 130px;
  margin-left: 0;
  padding-top: 0;
}

.skills ul li {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  text-align: center;
  color: #fff;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 10px;
  margin-right: 20px;
  width: 100%;
}

.contact h3 {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #a85400;
  margin-left: 24px;
  margin-right: 24px;
  transition: transform 0.5s ease-out;
}

.contact h3:hover {
  transform: translateX(2%);
}

.contact .contact-form {
  margin-left: 24px;
  margin-right: 24px;
}

.contact-form .input {
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  padding: 10px;
  margin-top: 24px;
  width: 100%;
}

.contact-form textarea {
  border: 0;
  background: #fbf8f7;
  margin-top: 24px;
  width: 100%;
  height: 114px;
}

.contact-form .submit-btn {
  width: 131px;
  height: 48px;
  left: 98px;
  background: #a85400;
  font-family: "Inter", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: 0;
  margin-left: 100px;
  margin-top: 24px;
}

.submit-btn:hover {
  background-color: #fff;
  border: 1px solid #a85400;
  color: #a85400;
  cursor: pointer;
}

.contact-hr {
  margin-top: 124px;
  border: 1px solid #dfe1e6;
  width: 100%;
  margin-left: 0;
}

ul.social-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-left: 88px;
  width: 200px;
  height: 40px;
  left: 24px;
  top: 430px;
}

ul.social-link li {
  width: 24px;
  height: 24px;
  left: 20%;
  right: 20%;
  top: 20%;
  bottom: 20%;
}

ul.social-link .icon {
  color: #505f79;
}

.social-hr {
  border-radius: 10px;
  border: 3px solid #0d151e;
  margin-left: 120px;
  margin-right: 140px;
}

@media screen and (min-width: 768px) {
  .main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #3c3a39;
    width: 100%;
  }

  .hide {
    visibility: visible;
  }

  .nav-link li a::after {
    display: none;
  }

  .main-nav .logo {
    left: 12px;
    top: 10px;
    padding: 10px 10px;
    margin-left: 120px;
    overflow: hidden;
  }

  .main-nav .logo p {
    color: #fff;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    animation-name: loadlogo;
    animation-duration: 1s;
    text-align: center;
  }

  .main-nav .nav-link {
    display: flex;
    margin-right: 151px;
    flex-direction: row;
    position: static;
    height: auto;
  }

  .cover-header {
    height: auto;
  }

  .logo-hide {
    visibility: visible;
  }

  .main-nav .nav-link li a {
    color: #fff;
    margin-left: 12px;
    margin-right: 12px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    transition: 0.5s;
    text-align: center;
  }

  .main-nav .nav-link li a:hover {
    color: #ff6b00;
    transition: 0.5s;
  }

  .main-nav .menu {
    display: none;
  }

  .head-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: #1c1a19;
  }

  .head-line ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-left: 36px;
    margin-top: 120px;
    order: 1;
  }

  .head-line ul li a i {
    padding-top: 10px;
    width: 50px;
    height: 24px;
    color: #cfcfcf;
    font-size: 18px;
  }

  .head-line .my-description {
    max-width: 566px;
    width: 100%;
    order: 2;
  }

  #head-line-backgroud {
    background-image: url(../images/Illustration-header.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto 98%;
  }

  .recent-work-container {
    display: grid;
    grid-template-columns: auto;
  }

  .work-title-container {
    display: flex;
  }

  .recent-work-title {
    width: 315px;
    margin-right: 10px;
  }

  .work-title-container .hr {
    width: 794px;
    border: 0;
    border-bottom: 1px solid #091e42;
    margin-bottom: 20px;
  }

  .recent-work-container .container {
    display: flex;
    margin-top: 30px;
    align-self: center;
  }

  .recent-img {
    width: 500px;
    margin-top: 35px;
  }

  .recent-img img {
    width: 100%;
  }

  .container .post-container {
    width: 448px;
  }

  .post-container .post-tools {
    width: 350px;
    justify-content: space-around;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 24px;
    row-gap: 24px;
    margin-left: 10px;
  }

  .grid-container .item1 {
    background: url(../images/story-img.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 84px 0 0 0;
  }

  .grid-container :nth-child(1) .story-btn {
    margin-top: 56%;
  }

  .grid-container :nth-child(1) p,
  .grid-container :nth-child(1) h3,
  .grid-container :nth-child(1) ul {
    display: none;
  }

  .grid-container :nth-child(2) .story-btn {
    display: none;
  }

  .grid-container :nth-child(3) .story-btn {
    display: none;
  }

  .grid-container :nth-child(4) .story-btn {
    display: none;
  }

  .grid-container :nth-child(5) .story-btn {
    display: none;
  }

  .grid-container :nth-child(6) .story-btn {
    display: none;
  }

  .about-container {
    display: flex;
    flex-direction: column;
  }

  .about-container .framework-skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .about-me .me,
  .about-me .about-content {
    margin-left: 24px;
    width: 50%;
  }

  .about-me .hr {
    margin-left: 124px;
    margin-right: 5%;
  }

  .about-me {
    background-image: url(../images/illustration-about-me.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50% 90%;
  }

  .contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .contact .contact-title {
    width: 40%;
  }

  .contact form {
    margin-top: 120px;
  }

  ul.social-link {
    justify-content: center;
    width: 100%;
  }

  ul.social-link li {
    margin: 0 10px;
  }

  .social-hr {
    display: none;
  }
}
